body {
  padding: 5vmin;
  font: 5vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0vmin;
}

a {
  color: #00B7FF;
}

h1 {
	font-size:6vmax;
	padding:0vmin;
	margin:0vmin;
	float:right;
	position:relative;
}

#container {
	padding: 6vmin;
	margin-left: -5vmin;
	height:90%;
}
table {
	width:100%;
	text-align: center
}

.instrument {
	width:7vmax;
	height:7vmax;
}

.quad {
	width:15vmax;
	height:15vmax;	
}
.quad-table tbody{
	width:70%;
}
.quad-table td {
	padding:0px;
}

.volume {
	width:10vmin;
	height:10vmin;	
}
.vol-table td {
	min-width:15vmin;
	max-width:20vmin;
}
.last table {
	/*border: 1px solid black;*/
}
table td p {
	font-size:2vmin;
}
td.instrument-comment {
		width:2vmin;
		font-size:1vmin;
}

.combo {
	padding:0px;
	margin-top:-5vmax;
	text-align:center;
	font-size:2vmin;
	width:100%;
	height:100%;
	vertical-align: middle
}
.combo table {
}
canvas[event=delay] {

}

canvas[event=tilt] {
    height:70vmax;
    width: 90vmin;
}

canvas[type=comment] {
    height:5vmin;
    width: 20vmin;
}


@media screen and (orientation:landscape) {

}