// Delay Event
div(id='delay-event', style="text-align:center;width:100%")
	h4 Delay
	nexus-button(id="delayOn" type="button" view=1 event="delay" arg=1 style="width:25vmax;height:25vmax")
	p(style="font-size:4vmax") On
	nexus-button(id="delayOff" type="button" view=1 event="delay" arg=-1 style="width:25vmax;height:25vmax;")
	p(style="font-size:4vmax") Off