h4= message
// Note Length Event
div
	nexus-button(id="noteLengthLong" type="button" view=2 event='length' arg=1 label='long' width='100')
div
	nexus-button(id="noteLengthShort" type="button" view=2 event='length' arg=-1 label='short' width='100')