h4= message
// Pitch Event
table
	tr
		td
			nexus-comment(id='high-comment' type="comment" text="High")
		td 
			nexus-toggle(id='gtr_high' event='pitch' arg=0 label='High')
		td
			nexus-toggle(id='prep_high' event='pitch' arg=1 label='High')
		td
			nexus-toggle(id='bass_high' event='pitch' arg=2 label='High')
	tr
		td
			nexus-comment(id='med-high-comment' type="comment" text="Medium High")
		td
			nexus-toggle(id='gtr_med_high' event='pitch' arg=0 label='Medium High')
		td
			nexus-toggle(id='prep_med_high' event='pitch' arg=1 label='Medium High')
		td
			nexus-toggle(id='bass_med_high' event='pitch' arg=2 label='Medium High')
	tr
		td
			nexus-comment(id='med-comment' type="comment" text="Medium")
		td
			nexus-toggle(id='gtr_med' event='pitch' arg=0 label='Medium')
		td
			nexus-toggle(id='prep_med' event='pitch' arg=1 label='Medium')
		td
			nexus-toggle(id='bass_med' event='pitch' arg=2 label='Medium')
	tr
		td
			nexus-comment(id='med-low-comment' type="comment" text="Medium Low")
		td
			nexus-toggle(id='gtr_med_low' event='pitch' arg=0 label='Medium Low')
		td
			nexus-toggle(id='prep_med_low' event='pitch' arg=1 label='Medium Low')
		td
			nexus-toggle(id='bass_med_low' event='pitch' arg=2 label='Medium Low')
	tr
		td
			nexus-comment(id='low-comment' type="comment" text="Low")
		td
			nexus-toggle(id='gtr_low' event='pitch' arg=0 label='Low')
		td
			nexus-toggle(id='prep_low' event='pitch' arg=1 label='Low')
		td
			nexus-toggle(id='bass_low' event='pitch' arg=2 label='Low')
	tr
		td
			a
		td
			nexus-comment(id='gtr-comment' type="comment" text="Gtr.")
		td
			nexus-comment(id='prep-comment' type="comment" text="Prep. Gtr.")
		td
			nexus-comment(id='bass-comment' type="comment" text="Bass")