table(class = "combo")
	tr
		td
			//Delay
			h4 Delay
			nexus-button(id="delayOn" type="button" view=1 event="delay" arg=1 style="width:5vmax;height:5vmax")
			p On
			nexus-button(id="delayOff" type="button" view=1 event="delay" arg=-1 style="width:5vmax;height:5vmax")
			p Off
		td(rowspan=2)
			h4 Pitch
			// Pitch Event
			table
				tr
					td 
						nexus-toggle(id='gtr_high' event='pitch' arg=0 kind=2 class="instrument")
						p High
					td
						nexus-toggle(id='prep_high' event='pitch' arg=1 kind=2 class="instrument")
						p High
					td
						nexus-toggle(id='bass_high' event='pitch' arg=2 kind=2 class="instrument")
						p High
				tr
					td
						nexus-toggle(id='gtr_med_high' event='pitch' arg=0 kind=1 class="instrument")
						p Medium High
					td
						nexus-toggle(id='prep_med_high' event='pitch' arg=1 kind=1 class="instrument")
						p Medium High
					td
						nexus-toggle(id='bass_med_high' event='pitch' arg=2 kind=1 class="instrument")
						p Medium High
				tr
					td
						nexus-toggle(id='gtr_med' event='pitch' arg=0 kind=0 class="instrument")
						p Medium
					td
						nexus-toggle(id='prep_med' event='pitch' arg=1 kind=0 class="instrument")
						p Medium
					td
						nexus-toggle(id='bass_med' event='pitch' arg=2 kind=0 class="instrument")
						p Medium
				tr
					td
						nexus-toggle(id='gtr_med_low' event='pitch' arg=0 kind=-1 class="instrument")
						p Medium Low
					td
						nexus-toggle(id='prep_med_low' event='pitch' arg=1 kind=-1 class="instrument")
						p Medium Low
					td
						nexus-toggle(id='bass_med_low' event='pitch' arg=2 kind=-1 class="instrument")
						p Medium Low
				tr
					td
						nexus-toggle(id='gtr_low' event='pitch' arg=0 kind=-2 class="instrument")
						p Low
					td
						nexus-toggle(id='prep_low' event='pitch' arg=1 kind=-2 class="instrument")
						p Low
					td
						nexus-toggle(id='bass_low' event='pitch' arg=2 kind=-2 class="instrument")
						p Low
				tr(style="vertical-alignment:bottom")
					td
						h3(style="font-size:3vmin") Gtr.
					td
						h3(style="font-size:3vmin") Prep. Gtr.
					td
						h3(style="font-size:3vmin") Bass

	tr
		td
			h4 Note Length
			nexus-button(id="noteLengthShort" type="button" view=2 event="length" arg=-1 style="width:5vmax;height:5vmax")
			p Short
			nexus-button(id="noteLengthLong" type="button" view=2 event="length" arg=1 style="width:5vmax;height:5vmax")
			p Long