// Note Length
div(id='length-event', style="text-align:center")
	h4 Note Length
	nexus-button(id="noteLengthShort" type="button" view=2 event="length" arg=1 style="width:25vmax;height:25vmax")
	p(style="font-size:4vmax") Short
	nexus-button(id="noteLengthLong" type="button" view=2 event="length" arg=-1 style="width:25vmax;height:25vmax")
	p(style="font-size:4vmax") Long
